<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ISDN 2400 deCOVID car control panel</title>
  <meta name="description" content="ISDN 2400 deCOVID car control panel">
  <meta name="author" content="Team 10">

  <meta property="og:title" content="ISDN 2400 deCOVID car control panel">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://github.com/qiujiangkun/ISDN2400">
  <meta property="og:description" content="ISDN 2400 deCOVID car control panel">
  <meta property="og:image" content="image.png">
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/static/styles.css?v=1.0">
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="/static/joystick.js"></script>

</head>

<body>
<div class="centered">
  <h1>deCOVID Car Controller</h1>
  <div id="status">
  </div>
  <img src="/screenshot" alt="Screenshot" id="screenshot"/>
  <br/>
  <button id="upgrade">Upgrade program</button>
</div>
<script>
    var jsk_ludx = 0;
    var jsk_ludy = 0;

    function on_joystick_change_left() {
        console.log(`chassis udx ${jsk_ludx} udy ${jsk_ludy}`);
        $.post(
            '/move', {
                udx: jsk_ludx,
                udy: -jsk_ludy
            }
        )
    }
    setInterval(on_joystick_change_left, 1000);

    var jsk_rudx = 0;
    var jsk_rudy = 0;
    function on_joystick_change_right() {
        console.log(`arm udx ${jsk_rudx} udy ${jsk_rudy}`);
        if (Math.pow(jsk_ludx * jsk_ludx + jsk_ludy * jsk_ludy, 2) < 0.5) {
          $.post(
              '/rotate', {
                  speed: jsk_rudx
              }
          );
        }

        $.post(
            '/arm', {
                speed: -jsk_rudy
            }
        )
    }
    setInterval(on_joystick_change_right, 1000);


    var joystick_left = new JoyStick({
        radius: 80,
        x: window.innerWidth / 2 - 180,
        y: window.innerHeight / 2,
        inner_radius: 70,
        callback: function (jsk) {
            jsk_ludx = jsk.udx;
            jsk_ludy = jsk.udy;
        }
    });
    var joystick_right = new JoyStick({
        radius: 80,
        x: window.innerWidth / 2 + 180,
        y: window.innerHeight / 2,
        inner_radius: 70,
        callback: function (jsk) {
            jsk_rudx = jsk.udx;
            jsk_rudy = jsk.udy;
        }
    });

    function refresh_screenshot() {
        $.ajax({
            url: "/screenshot?t=" + new Date().getTime(),
            cache:false,
            xhrFields:{
                responseType: 'blob'
            },
            success: function(data){
                var url = window.URL || window.webkitURL;
                var imageUrl = url.createObjectURL(data);
                $("#screenshot").attr("src", imageUrl);
                refresh_screenshot()
            },
            error:function(){
                console.error("Failed to get screenshot");
            }
        });
    }

    $(document).ready(function () {
        refresh_screenshot()
    });

    $("#upgrade").click(function () {
        console.log("Upgrade")
        $.post(
            '/upgrade', {}
        )
    });

</script>
</body>
</html>